@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*,*::after,*::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%,rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    /* padding: 30px 40px; */
    color: white;
    text-align: center;
    display: flex;
}

h1 
{
    font-family: 'Acme', sans-serif;
    letter-spacing: 2px;
    margin-bottom: 15px;
    padding: 20px;
    font-family: 'Rampart One', cursive;
    letter-spacing: 2px;
    font-size: 50px;
}
.container 
 {
    min-width: 1365px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; 
  }
  
.todo-form
{
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif;
}
.item
{
    list-style-type: none;
    font-family: 'Josefin Sans', sans-serif ;
    text-align: center;
    font-size: 20px;
   
}
ul li:hover
{
    cursor: pointer;
    background: rgb(235, 252, 5);
   
}
ul li
{
    width: 100vw;
    height: 30px; 
    padding: 5px;
}
ul li:nth-child(odd)
{
    background: #5bbde4;
}
.far
{   
    position: absolute; 
    right: 10%;
    
}
.checkbox
{
    margin-right: 10px; 
}
.checked 
{
  text-decoration: line-through;
  background: blanchedalmond;
  color:black;
}   
/* .fa-trash-alt
{
    background-color: tomato;
    color: white;
} */
#clear-list
{
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: lawngreen;
    color: black;
    width: 10rem;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Rampart One' cursive;
    cursor: pointer;
    border: none;
}
button:hover
{
    background-color: rgb(248, 211, 45);
    cursor: pointer;
}
.input-btn
{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: lawngreen;
    color: black;
    width: 6rem;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border: none;
}
.todo-input,.todo-input:hover,.todo-input:focus,.todo-input:active
{
    margin: 10px;
    padding: 10px;
    width: 18rem;
    border-radius: 10px;
    background-color: rgb(228, 163, 163);
    border: none; 
    cursor: pointer;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    text-align: center;
    font-size: 18px;
}
.todo-input::placeholder
{
    color: black;
    opacity: 0.4;
    font-size: 20px;
   
}